.pizza-meter{
    opacity: 0.7;
    .pizza-img{
        bottom:0;
        transform:translateX(50%);
        right:50%;
        position:absolute;
    }
    .needle {
        height: 220px;
        width: 10px;
        border-radius: 5px 5px 0 0;
        background-color: maroon;
        border: 1px solid black;
        box-shadow: 4px 2px 3px 1px rgba(0,0,0,0.76);
        bottom:0;
        transform:translateX(50%);
        right:50%;
        position:absolute;
        transform-origin: bottom;
        // transform: rotate(-40deg);
        z-index:1;
        transition: 1s;
    }

    @media (max-width: 650px){
        img {
            width:400px;
        }
        .needle{
            height:170px;
        }
    }

}

